
/* content */

#content .content_area {margin: 0 5px;}
#content .content_area h3 {font-family: 'Nanum Gothic', sans-serif; font-weight:700; font-size: 1.2rem; padding:10px 0 10px 20px; position: relative;}
#content .content_area h3::before {content: ''; width: 10px; height: 20px; background: #f00; position:absolute; top: 12px; left:4px; transform: skewX(20deg);}
#content .content_area p {padding: 0 20px; font-family: 'Nanum Gothic', sans-serif; font-weight:400; font-size: 1rem; line-height: 1.5rem; margin-bottom: 50px; text-align: justify;}

@keyframes shining {
  0% {

    opacity: 1;
  }

  25% {
    opacity: .8;
  }

  50% {

    opacity: .5;
  }

  100% {
    opacity: .3;
  }
}




#content ul {overflow: hidden;}
#content ul li {width: 24%; margin: 0 .5%; float:left; color:#fff; text-align: center; padding:10px 0; border-radius: 5px; font-size: .9rem;  background: #0a2267;}
#content ul li:nth-of-type(even) { animation: shining 4s 1s infinite linear alternate ;}
#content ul li:nth-of-type(odd) { animation: shining 4s 1s infinite linear alternate-reverse;}
#content ul li i {display:block; font-size:3rem; padding:10px 0 20px;}
#content ul li span {font-family: 'Nanum Gothic', sans-serif; font-weight:700;}


