
/* content */

#content .content_area {margin: 0 5px;}
#content .content_area img {width:90%; background-size: cover;padding:0 5%; margin-bottom: 30px;}
#content .content_area p:nth-of-type(1) {padding: 0 20px; font-family: 'Nanum Gothic', sans-serif; font-weight:400; font-size: 1rem; line-height: 1.5rem; margin-bottom: 50px;}

#content .content_area ul {}
#content .content_area ul li {text-align: center; border-top:1px solid #333;}
#content .content_area ul li:nth-last-of-type(1) {border-bottom:1px solid #333;}
#content .content_area dl {font-family: 'Nanum Gothic', sans-serif; overflow: hidden;}
#content .content_area dt {width:25%; float:left; font-weight: 700; text-align: center;padding: 10px 0 0;}
#content .content_area dt i {font-size: 3rem; padding: 10px;}
#content .content_area dd {width:74%; float:right; padding: 10px 0; font-size: .9rem; color:#666; border-left:1px solid #666; background-blend-mode: multiply; transition: all .4s;}
#content .content_area dd:nth-of-type(1) {background: #0a2267; color:#fff;}

@media screen and (min-width:641px) {
  #content .content_area ul li dd {text-align: left; font-size: 1rem;}
}
