/* sub page의 content area */
#content .title_area ul li {width:50%;}

#content .content_area {width:100%; padding-left: 30%;}

#content .content_area ul.first {}


#content .content_area ul:nth-of-type(1) {overflow: hidden; height:1000px;}
#content .content_area ul:nth-of-type(1) li {float:left; margin: 150px -100px 0; background: #fcfcfc; transform: scale(.8); box-shadow: 10px 10px 24px 5px rgba(3,3,3,.2); transition:all .3s;}
#content .content_area ul:nth-of-type(1) li a {display:block;}
/* #content .content_area ul:nth-of-type(1) li:hover {margin-top: -50px;} */
#content .content_area ul:nth-of-type(1) li:nth-of-type(1) {margin-right: 150px; margin-left: 50px; transform: scale(1.1); }
#content .content_area ul:nth-of-type(1) li:nth-of-type(1) dl {background: rgba(255, 0, 0, 0.5);}
#content .content_area ul:nth-of-type(1) li:nth-of-type(1) img {transform: scale(1.2);}

/*
#content .content_area ul:nth-of-type(1) li:hover dl {background:rgba(255,0,0, 1);}
#content .content_area ul:nth-of-type(1) li:hover img {transform: scale(1.2); } 
*/

#content .content_area ul li img {width: 180px; height: 180px; margin: 40px 0 50px; border-radius: 90px; transition:all .5s;}
#content .content_area ul li dl {background: rgba(10,34,103, .5); color:#fff; text-align: left; padding: 20px 20px 20px 30px; width: 270px; height:350px;}
#content .content_area ul li dl dt {font-family: 'Noto Sans KR', sans-serif; font-weight:700; font-size: 1.667em;}
#content .content_area ul li dl dt:nth-of-type(1) {margin-bottom: 20px; color:#333;}
#content .content_area ul li dl dt:nth-of-type(2) {font-size: 1.333em; padding: 30px 0 20px;}
#content .content_area ul li dl dd {font-family: 'Nanum Gothic', sans-serif; font-weight:400; font-size: 1.111em; line-height: 2em;}
#content .content_area ul li dl dd span {font-weight: bold ; margin-right: 10px;}

#content .content_area h3 {font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size: 1.667em; margin:0 0 30px 40px; position: relative; text-align: left;}
#content .content_area h3::before {content:''; width: 10px; height: 30px; position:absolute; left: -30px; top: 10px; background: #ff0000; transform: skew(20deg);}



