/* sub pageì˜ content area */

#content .title_area ul li {width: 33.33%;}

#content .content_area {}
#content .content_area #vision {overflow: hidden; position:relative; border-radius: 10px;}
#content .content_area #vision dl {float:left; width: 800px; padding: 20px 25px; text-align: left;}
#content .content_area #vision dt {font-family: 'Noto Sans KR', sans-serif; font-weight:700; font-size: 1.444em; margin: 0 0 30px;}
#content .content_area #vision dt span:nth-of-type(1) {color:#f00;}
#content .content_area #vision dt span:nth-of-type(2) {color:#0a2267;}
#content .content_area #vision dd {font-family: 'Nanum Gothic', sans-serif; font-weight:400; font-size: 1.222em; line-height: 2em; text-align: justify;}
#content .content_area #vision img {float:right; width: 350px;}

#content .content_area #vision>span:nth-of-type(1) {position:absolute; margin-left:-100%; left:0;  top:0; width:100%; height:10px; background: #f00; transition: all .5s;}
#content .content_area #vision>span:nth-of-type(2) {position:absolute; margin-top:-100%; right:0; top:0; width: 10px; height: 100%; background: #f00; transition: all .5s; transition-delay: .3s;}
#content .content_area #vision>span:nth-of-type(3) {position:absolute; margin-left:100%; left:0;  bottom:0; width:100%; height:10px; background: #f00; transition: all .5s; }
#content .content_area #vision>span:nth-of-type(4) {position:absolute; margin-top:100%; left:0; top:0; width: 10px; height: 100%; background: #f00; transition: all .5s; transition-delay: .3s;}

#content .content_area #vision:hover>span:nth-of-type(1) {margin-left:0; background: #0a2267;}
#content .content_area #vision:hover>span:nth-of-type(2) {margin-top:0; background: #0a2267;}
#content .content_area #vision:hover>span:nth-of-type(3) {margin-left:0; background: #0a2267;}
#content .content_area #vision:hover>span:nth-of-type(4) {margin-top:0;  background: #0a2267;}


#content .content_area #philosophy {overflow: hidden; position:relative;}
#content .content_area #philosophy dl {padding: 20px 25px; text-align: left;}
#content .content_area #philosophy dt {font-family: 'Noto Sans KR', sans-serif; font-weight:700; font-size: 1.444em; margin: 0 0 30px;}
#content .content_area #philosophy dt span:nth-of-type(1) {color:#f00;}
#content .content_area #philosophy dt span:nth-of-type(2) {color:#0a2267;}
#content .content_area #philosophy dd {font-family: 'Nanum Gothic', sans-serif; font-weight:400; font-size: 1.222em; line-height: 2em; text-align: justify;}

#content .content_area #philosophy ul {overflow: hidden; padding: 0 50px; margin: 30px 0;}
#content .content_area #philosophy li {float:left; width: 300px; height: 300px; margin-right:100px; border-radius: 150px; position:relative;  transition:all .5s; transition-delay: .3s;}
#content .content_area #philosophy li:hover {border-radius: 10px;}
#content .content_area #philosophy li:hover p {margin-top: 300px;}
#content .content_area #philosophy li:nth-of-type(1) {background: url(../images/content2/philosophy_bg_1.jpg) 0 0 no-repeat;}
#content .content_area #philosophy li:nth-of-type(2) {background: url(../images/content2/philosophy_bg_2.jpg) 0 0 no-repeat;}
#content .content_area #philosophy li:nth-of-type(3) {background: url(../images/content2/philosophy_bg_3.jpg) 0 0 no-repeat;  margin-right: 0;}

#content .content_area #philosophy li> p {margin:130px 4px 0; border-radius: 10px; font-family: 'Noto Sans KR', sans-serif; font-size: 1.667em; color:#fff; padding:5px 0;  background: rgba(3,3,3,.5); transition: all .5s;}
#content .content_area #philosophy li> img {position:absolute; left:0; top:0; z-index: -1;}


#content .content_area #active {overflow: hidden; position:relative; border-radius: 10px;}
#content .content_area #active dl {float:left; width: 800px; padding: 20px 25px; text-align: left;}
#content .content_area #active dt {font-family: 'Noto Sans KR', sans-serif; font-weight:700; font-size: 1.444em; margin: 0 0 30px;}
#content .content_area #active dt span:nth-of-type(1) {color:#f00;}
#content .content_area #active dt span:nth-of-type(2) {color:#0a2267;}
#content .content_area #active dd {font-family: 'Nanum Gothic', sans-serif; font-weight:400; font-size: 1.222em; line-height: 2em; text-align: justify;}
#content .content_area #active img {float:right; width: 350px; background: greenyellow;}

#content .content_area #active>span:nth-of-type(1) {position:absolute; margin-left:-100%; left:0;  top:0; width:100%; height:10px; background: #f00; transition: all .5s;}
#content .content_area #active>span:nth-of-type(2) {position:absolute; margin-top:-100%; right:0; top:0; width: 10px; height: 100%; background: #f00; transition: all .5s; transition-delay: .3s;}
#content .content_area #active>span:nth-of-type(3) {position:absolute; margin-left:100%; left:0;  bottom:0; width:100%; height:10px; background: #f00; transition: all .5s; }
#content .content_area #active>span:nth-of-type(4) {position:absolute; margin-top:100%; left:0; top:0; width: 10px; height: 100%; background: #f00; transition: all .5s; transition-delay: .3s;}

#content .content_area #active:hover>span:nth-of-type(1) {margin-left:0; background: #0a2267; }
#content .content_area #active:hover>span:nth-of-type(2) {margin-top:0;  background: #0a2267; }
#content .content_area #active:hover>span:nth-of-type(3) {margin-left:0; background: #0a2267; }
#content .content_area #active:hover>span:nth-of-type(4) {margin-top:0;  background: #0a2267; }

#content .content_area .con_list {margin: 100px 0;}

#content .content_area h3 {font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size: 1.667em; margin:0 0 30px 40px; position: relative; text-align: left;}
#content .content_area h3::before {content:''; width: 10px; height: 30px; position:absolute; left: -30px; top: 10px; background: #ff0000; transform: skew(20deg);}
