/* sub pageì˜ content area */

#content .title_area ul li {width:50%;}

#content .content_area {overflow: hidden;}

#content .content_area dl dt {font-family: 'Noto Sans KR'; font-size: 1.333em;}
#content .content_area dl dd {font-size: 1.111em; line-height: 2em;}
#content .content_area dl dd span {font-family: 'Nanum Gothic'; font-weight: bold; margin-right: 10px;}

/* #content .content_area div {border: 1px solid red;} */

#content .content_area .tabs ul:nth-of-type(1) li {margin:0 auto 100px; overflow: hidden; position: relative;}
#content .content_area .tabs ul:nth-of-type(1) div {position: absolute; left:0; top:0;}

#content .content_area .tabs .inner>ul dl {text-indent: 730px; text-align: left; padding:350px 0 0;}
#content .content_area .tabs .inner>ul dt {padding: 20px 0;}
#content .content_area .tabs .inner>ul dd {background: #0a2267; color:#fff;}
#content .content_area .tabs .inner>ul dd:first-of-type {padding-top: 0;}
#content .content_area .tabs .inner>ul dd:last-of-type {padding-bottom: 30px;}
#content .content_area .tabs .inner>ul dd i {text-indent: 700px; margin-right: 20px;}

#content .content_area .tabs .other>ul {float:left; width: 1200px;}
#content .content_area .tabs .other>ul li {overflow: hidden;}
#content .content_area .tabs .other>ul li dl {margin: 0 10px 50px; text-align: left; padding: 20px 10px; box-shadow: 4px 4px 4px 2px rgba(3,3,3,.1);}
#content .content_area .tabs .other>ul li dt {margin-bottom: 20px;}
#content .content_area .tabs .other>ul li:last-of-type dl {margin-bottom: 10px;}

